/* purgecss start ignore */
@import "tailwindcss/base";
@import "base.css";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

@layer base {
    html {
      @apply text-slate-600 font-futurua-book;
    }

    h1, h2, h3, h4, h5, h6 {
      @apply uppercase mb-4 text-slate-900 font-normal font-fredoka-one;
    }

    h1, .h1 {
      @apply text-2xl lg:text-3xl; 
    }
    h2, .h2 {
      @apply text-xl lg:text-2xl; 
    }
    h3, .h3 { 
      @apply text-lg lg:text-xl; 
    }

    .with-rich-text p {
      @apply my-4 lg:text-lg;
    }

    .with-rich-text h2,
    .with-rich-text .h2,
    .with-rich-text h3,
    .with-rich-text .h3 {
      @apply mt-8 mb-4;
    }

    .with-rich-text a {
      @apply text-primary-900 underline hover:no-underline;
    }

    .with-rich-text ul,
    .with-rich-text ol {
      @apply my-4 lg:text-lg pl-9;
    }

    .with-rich-text ul {
      @apply list-disc;
    }
    .with-rich-text ol {
      @apply list-decimal;
    }

    .with-rich-text li {
      @apply mb-3;
    }
  
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

}

@layer components {

  .button {
    @apply inline-block text-secondary-900 bg-primary-900 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-2.5 text-center; 
    font-family: "Fredoka One" !important;
  }

  .button.extra-small {
    @apply py-2 px-3 text-xs;
  }

  .button.small {
    @apply py-2 px-3 text-sm;
  }

  .button.large {
    @apply py-3 px-5 text-lg;
  }

  .button.extra-large {
    @apply text-lg px-6 py-3.5;
  }

  .button.secondary {
    @apply text-primary-900 bg-secondary-900 hover:bg-secondary-800 focus:ring-secondary-300;
  }

}

.background-animate {
  background-size: 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
}