@font-face {
  font-family: "Fredoka One";
  src: url({{"FredokaOne-Regular.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Futura Book";
  src: url({{"Futura-Book.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Futura Light";
  src: url({{"Futura-Light.woff2" | asset_url }}) format("woff2");
  font-display: swap;
  font-weight: 300;
}
