<section class="with-rich-text max-w-screen-sm mx-auto py-16 px-4">
  <h1>
    {{ section.settings.title }}
  </h1>
  {{ section.settings.text }}
  <h2 class="">{{ section.settings.sub-title }}</h2>
  {{ section.settings.sub-text }}
</section>

{% schema %}
{
  "name": "main-404",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "404-rubrik"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "404-meddelande"
    },
    {
      "type": "text",
      "id": "sub-title",
      "label": "404-cta-rubrik"
    },
    {
      "type": "richtext",
      "id": "sub-text",
      "label": "404-cta-meddelande"
    }
  ]
}
{% endschema %}

