<section class="">
  <div class="max-w-screen-2xl mx-auto px-4 py-1">
    {% render 'breadcrumbs' %}
  </div>
  
  <div class="with-rich-text max-w-screen-md mx-auto py-16 px-4">
    <header>
      <h1 class="">{{ page.title | escape }}</h1>
    </header>
    {% if page.content %}
        {{ page.content }}
      </div>
    {% endif %}
</section>